# The private key of the backend admin wallet that pays gas to deploy contracts
# Default is Hardhat local test account #0
ADMIN_PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
RPC_URL="http://127.0.0.1:8545"
